html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: 'Muli';
  font-weight: 400;
  src: url(..\..\src\fonts\Muli-Light-subset.woff2) format("woff2"), url(..\..\src\fonts\Muli-Light-subset.zopfli.woff) format("woff");
  unicode-range: U+20-7E;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  font-weight: normal;
  src: url(..\..\src\fonts\Muli-Regular-subset.woff2) format("woff2"), url(..\..\src\fonts\Muli-Regular-subset.zopfli.woff) format("woff");
  unicode-range: U+20-7E;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  font-weight: bold;
  src: url(..\..\src\fonts\Muli-Bold-subset.woff2) format("woff2"), url(..\..\src\fonts\Muli-Bold-subset.zopfli.woff) format("woff");
  unicode-range: U+20-7E;
  font-display: swap;
}

.page__body {
  max-width: 1600px;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  grid-template: ". . hero . ." minmax(705px, 1fr) ". . services . ." minmax(1133px, 1fr) ". . fetures . ." minmax(477px, 1fr) ". . download . ." minmax(434px, 1fr) ". . reviews . ." minmax(482px, 1fr) ". . articles . ." minmax(804px, 1fr) ". . footer . ." minmax(432px, 1fr)/1fr [subLeft] 25px [subLeft] 1220px [subRight] 25px [subRight] 1fr;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
}

.hero {
  grid-area: hero;
  padding-top: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  row-gap: 85px;
}

.background {
  position: absolute;
  z-index: -1;
}

.background__dots1, .background__dots2, .background__dots3, .background__dots4, .background__dots5, .background__dots6, .background__figureSmall, .background__figureBig {
  position: absolute;
}

.background__dots1, .background__dots2, .background__dots3, .background__dots4, .background__dots5, .background__dots6 {
  height: 115px;
  width: 132px;
}

.background__figureBig {
  top: 965px;
}

.background__figureSmall {
  top: 4427px;
  left: 1032px;
}

.background__dots1 {
  top: 160px;
  left: -50px;
}

.background__dots2 {
  top: 1511px;
  left: 1278px;
}

.background__dots3 {
  top: 2783px;
  left: 1314px;
}

.background__dots4 {
  top: 3995px;
  left: 190px;
}

.background__dots5 {
  top: 4554px;
  left: 190px;
}

.background__dots6 {
  top: 5366px;
  left: 1377px;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content;
  -ms-grid-rows: min-content;
  -ms-grid-columns: (1fr)[2];
      grid-template: min-content/repeat(2, 1fr);
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  -ms-grid-column-align: end;
      justify-self: end;
}

.logo {
  display: -ms-grid;
  display: grid;
  width: 160px;
  -ms-grid-rows: 41px;
  -ms-grid-columns: (-webkit-min-content)[2];
  -ms-grid-columns: (min-content)[2];
      grid-template: 41px/repeat(2, -webkit-min-content);
      grid-template: 41px/repeat(2, min-content);
  -webkit-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  display: block;
  height: 41px;
  width: 41px;
}

.logo__text {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  color: #233348;
}

.menu {
  width: 545px;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-column: min-content;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.menu__link {
  font-family: inherit;
  text-decoration: none;
  font-size: 18px;
  color: rgba(31, 21, 52, 0.5);
  -webkit-transition-property: color, margin;
  transition-property: color, margin;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  font-weight: bold;
  color: #1F1534;
  margin: 2px;
}

.introduction {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 110px;
          column-gap: 110px;
}

.introduction__article {
  margin-top: 105px;
}

.introduction__img {
  display: block;
  margin-right: -15px;
}

.article__header {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
}

.article__text {
  margin: 0;
  margin-top: 25px;
  font-size: 21px;
  font-weight: 400;
  color: #7D7987;
  line-height: 32px;
}

.article__button {
  margin-top: 50px;
}

.button {
  font-weight: bold;
  font-size: 18px;
  line-height: 56px;
  color: #ffffff;
  display: block;
  border: none;
  border-radius: 55px;
  background-color: #458FF6;
  padding-left: 38px;
  padding-right: 38px;
}
/*# sourceMappingURL=main.css.map */