//CARDS
.cards {
    display: grid;
    grid-template: 
        repeat(2, min-content) /
        repeat(3, min-content);
    row-gap: 37px;
    column-gap: 34px;
}

.services__cards {
    margin-top: 80px;
}

//CARD
.card {
    list-style: none;

    width: 350px;
    height: 354px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 47px 45px 47px 38px;

    box-shadow: $card-shadow;

    display: grid;
    grid-template-rows: 119px 56px 1fr;
}

.card__img--rightShifted {
    margin-left: 2px;
}

.card__title, .card__text {
    margin: 0;
}

.card__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
}

.card__text {
    color: $steel-grey;
    line-height: 28px;
}