//PROVIDERS
.providers {
    display: grid;
    grid-auto-flow: column;
    column-gap: 137px;
}

.providers__article {
    margin-top: 50px;
}

//IMG
.providers__img {
    margin-left: -30px;
}

//LINE
.providers__article .article__line {
    margin: 35px 0;
}

//TEXT
.providers__article .article__text {
    margin-top: 35px;
}

//BUTTON 
.providers__button {
    margin-top: 37px;
}
