//INTRO
.hero {
    grid-area: hero;
    display: grid;
    grid-auto-flow: column;
    column-gap: 110px;
}

.hero__article {
    margin-top: 105px;
}

.hero__img {
    display: block;
    margin-right: -15px;
}

