//INTRO
.introduction {
    display: grid;
    grid-auto-flow: column;
    column-gap: 110px;
}

.introduction__article {
    margin-top: 105px;
}

.introduction__img {
    display: block;
    margin-right: -15px;
}

