.background {
    position: absolute;
    z-index: -1;

    &__dots1, &__dots2, &__dots3, &__dots4, &__dots5, &__dots6, &__figureSmall, &__figureBig {
        position: absolute;
    }

    &__dots1, &__dots2, &__dots3, &__dots4, &__dots5, &__dots6 {
        height: 115px;
        width: 132px;
    }

    // &__figureBig {
    //     width: 938px;
    //     height: 671px;
    // }

    &__figureBig {
        top: 965px;
    }

    &__figureSmall {
        top: 4427px;
        left: 1032px;
    }
    

    &__dots1 {
        top: 160px;
        left: -50px;
    }

    &__dots2 {
        top: 1511px;
        left: 1278px;
    }

    &__dots3 {
        top: 2783px;
        // left: 1514px;
        left: 1314px;
    }

    &__dots4 {
        top: 3995px;
        left: 190px;
    }

    &__dots5 {
        top: 4554px;
        left: 190px;
    }

    &__dots6 {
        top: 5330px;
        left: 1377px;
    }
}

