//MULI LIGHT
@font-face {
  font-family: 'Muli';
  font-weight: lighter;
  src: url(..\..\src\fonts\Muli-Light-subset.woff2) format("woff2"),
  url(..\..\src\fonts\Muli-Light-subset.zopfli.woff) format("woff");
  unicode-range: U+20-7E;
  font-display: swap;
}

//MULI REGULAR
@font-face {
  font-family: 'Muli';
  font-weight: normal;
  src: url(..\..\src\fonts\Muli-Regular-subset.woff2) format("woff2"),
  url(..\..\src\fonts\Muli-Regular-subset.zopfli.woff) format("woff");
  unicode-range: U+20-7E;
  font-display: swap;
}

//MULI BOLD
@font-face {
  font-family: 'Muli';
  font-weight: bold;
  src: url(..\..\src\fonts\Muli-Bold-subset.woff2) format("woff2"), 
  url(..\..\src\fonts\Muli-Bold-subset.zopfli.woff) format("woff");
  unicode-range: U+20-7E;
  font-display: swap;  
}