.page__body {
    max-width: 1600px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 
        ". . hero . ." 775px 
        ". . services . ."  min-content
        ". . providers . ."  min-content
        ". . downloads . ."  min-content
        ". . reviews . ." minmax(482px, 1fr)
        ". . articles . ." minmax(804px, 1fr)
        ". . footer . ." minmax(432px, 1fr) /
        1fr [subLeft] 25px [subLeft] 1220px [subRight] 25px [subRight] 1fr;

    font-family: 'Muli', sans-serif;
    font-size: 16px;
}

.page__header {
    grid-area: hero;
    padding-top: 55px;
}

.page__hero {
    grid-area: hero;
    align-self: end;
}

.page__services {
    grid-area: services;
    margin-top: 190px;
}

.page__providers {
    grid-area: providers;
    margin-top: 220px;
}

.page__downloads {
    grid-area: downloads;
    margin-top: 230px;
}

.page__reviews {
    grid-area: reviews;
    margin-top: 266px;
}