.page__body {
    max-width: 1600px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 
        ". . hero . ." minmax(705px, 1fr) 
        ". . services . ." minmax(1133px, 1fr)
        ". . fetures . ." minmax(477px, 1fr)
        ". . download . ." minmax(434px, 1fr)
        ". . reviews . ." minmax(482px, 1fr)
        ". . articles . ." minmax(804px, 1fr)
        ". . footer . ." minmax(432px, 1fr) /
        1fr [subLeft] 25px [subLeft] 1220px [subRight] 25px [subRight] 1fr;

    font-family: 'Muli', sans-serif;
    font-size: 16px;
}

.hero {
    grid-area: hero;
    padding-top: 55px;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    row-gap: 85px;
}