.page {
    scroll-behavior: smooth;
}

.page__body {
    max-width: 1600px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 
        ". . hero . ." 775px 
        ". . services . ."  min-content
        ". . providers . ."  min-content
        ". . downloads . ."  min-content
        ". . reviews . ." min-content
        ". . articles . ." min-content
        ". . footer . ." min-content /
        1fr [subLeft-start] 25px [subLeft-end content-start] 1220px [content-end subRigh-start] 25px [subRight-end] 1fr;

    font-family: 'Muli', sans-serif;
    font-size: 16px;
}

.page__header {
    grid-area: hero;
    padding-top: 55px;
}

.page__hero {
    grid-area: hero;
    align-self: end;
}

.page__services {
    grid-area: services;
    margin-top: 190px;
}

.page__providers {
    // grid-area: providers;
    grid-column: subLeft-start / content-end;
    margin-top: 220px;
}

.page__downloads {
    // grid-area: downloads;
    grid-column: content-start / subRight-end;
    margin-top: 230px;
    margin-left: 90px;
}

.page__reviews {
    grid-area: reviews;
    margin-top: 266px;
}

.page__articles {
    grid-area: articles;
    margin-top: 222px;
    margin-left: 50px;
    margin-right: 50px;
}

.page__footerWrapper {
    grid-column: 1 / -1;
    margin-top: 200px;
    background: $footer-ocean-blue-gradient;
    position: relative;

    .page__footerDots {
        opacity: 0.3;
        background: url(../../src/img/svg/bg/footerDots.svg) no-repeat;
        width: 105px;
        height: 89px;
        position: absolute;
        left: 11px;
        bottom: 7px;
    }
}

.footer {
    width: 1220px;
    margin: 0 auto;
}